body {
    background-color: rgb(68, 68, 68);
    color:aliceblue;
}

/* em is relative to the parent's font size */
/* rem is relative to the root's font size - html */

.typography {
    margin-top: 300px;
    text-align: center;

    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    font-family: Roboto, Arial, sans-serif;

}